// Font
$FontPathOpenSans: '../../node_modules/open-sans-fonts/open-sans';
@import '../../node_modules/open-sans-fonts/open-sans';

// Color
$background-color-light: #f5f5f5;

body {
    background-color: $background-color-light;
    margin: 0;
    padding: 0;

    .container-after-titlebar {
        bottom: -30px;
    }
}

#root {
    overflow: hidden;
}
